<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Spring MVC GeekApp</title>
</head>
<body>
<!--/*@thymesVar id="product" type="com.geekbrains.entities.Product"*/-->
<form th:action="@{/find_form_process}" th:object="${product}" method="POST">
    id: <input th:field="*{id}"/>
    <br>
    title: <input th:field="*{title}"/>
    <br>
    price: <input th:field="*{price}">
    <br>
    <input type="submit" value="Найти" />
</form>
<a th:href="@{/}">на Главную страницу</a>
</body>
</html>