<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Spring MVC GeekApp</title>
</head>

<body>
    <h1>Mod Form</h1>

    <form th:action="@{/mod_form_processing}" th:object="${id}" method="POST">
        <input type="text" name="productId" placeholder="Введите id товара"/>
        <br>
        <input type="text" name="productTitle" placeholder="Введите название товара"/>
        <br>
        <input type="text" name="productPrice" placeholder="Введите цену товара"/>
        <br>
        <input type="submit"/>
    </form>
    <br>
    <a th:href="@{/}">на Главную страницу</a>
</body>
</html>