<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <title>Spring Data Demo</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>

<div class="container">
    <h1>Finded Products</h1>
    <form th:action="@{/find_form_processing}" th:object="${id}" method="POST">
        <p>Введите минимальную цену</p><input type="text" name="min_price"/>
        <p>Введите максимальную цену</p><input type="text" name="max_price"/>
        <p>Введите ключевое слово</p><input type="text" name="word"/>
        <input type="submit" value="Найти"/>
    </form>
    <table  class="table table-hover" th:if="${products.size() > 0}">
        <thead>
        <tr>
            <td>id</td>
            <td>title</td>
            <td>price</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="p : ${products}">
            <td th:text="${p.id}" />
            <td th:text="${p.title}" />
            <td th:text="${p.price}" />
        </tr>
        </tbody>
    </table>
    <br>
    <span th:text="'Total items count (filtered): ' + ${prodCounts}" />
</div>
</body>
</html>