<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <title>Spring Data Demo</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>

<div class="container">
    <h1>Заготовка магазина</h1>

    <h3>Фильтр</h3>
    <form th:action="@{/}" method="GET">
        <div class="input-group">
            <input class="form-control" th:value="${param.min_price}" name="min_price" type="number"
                   placeholder="Минимальная цена"/>
            <input class="form-control" th:value="${param.max_price}" name="max_price" type="number"
                   placeholder="Максимальная цена"/>
            <select name="category">
                <option th:text="'Не выбрано'" value="null"/>
                <option th:each="c : ${categories}" th:text="${c}" th:selected="${c == param.category}" th:value="${c}"/>
            </select>
            <select name="sorties">
                <option th:text="'Не выбрано'" th:value="null"/>
                <option th:each="s : ${sorties}" th:text="${s}" th:selected="${s == param.sorties}" th:value="${s}"/>
            </select>
        </div>
        <br>
        <button type="submit" class="btn btn-warning">Фильтровать</button>
        <a class="btn btn-warning" th:href="@{'/?p=1'}">Сбросить фильтр</a>
    </form>
    <br>
    <h3>Каталог товаров</h3>
    <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Описание товара</th>
            <th>Цена</th>
            <th>Категория</th>
        </tr>
        </thead>
        <tbody>
        <!--/*@thymesVar id="page" type="org.springframework.data.domain.Page<com.geekbrains.marketdemoa.entites.Item>"*/-->
        <!--/*@thymesVar id="item" type="com.geekbrains.marketdemoa.entites.Item"*/-->
        <tr th:each="item : ${page.content}">
            <td th:text="${item.id}"/>
            <td>
                <span style="font-weight: bold" th:text="${item.title}"/>
                <br>
                <span th:text="${item.description}"/>
            </td>
            <td th:text="${item.price}"/>
            <td th:text="${item.category}"/>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>